<html>
  <head>
    <title>BME390 Prototype</title>
    <link rel="stylesheet" type="text/css" href="/static/tutorial.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script>
      function playThis(vid,id){
        jQuery('.listel').addClass('hideme')
        jQuery(id + ' img').removeClass('hideme')
        jQuery.get('/playem',{ file : vid });
        jQuery('#video')[0].src= '/static/vids/' + vid;
        jQuery('#video')[0].load();
        jQuery('#video')[0].play();

      }
    </script>

    </head>
  <body>
    <div id="container" class="outerpane">
<div class="left pane">
{% for category in vids %}
<div class="cat-pod">
 <h3> {{ category }} </h3>
 <ul>
 {% for video in vids[category] %}
 <li id = "{{ video[2] }}"> 
 <a  class ="school_button fake-link" onclick="playThis('{{ video[0] }}', '#{{ video[2] }}');"> {{ video[1] }} </a>
 <img class ="listel hideme" src="/static/Next.png"/></img>
 </li>
 {% endfor %}
 </ul>
</div>
{% endfor %}
    </div><!-- ending left pane -->

      <div class="pane vid">
      <video  controls="controls" id="video" >
          <source src="/static/vids/gaze__20_large.mp4" type="video/mp4"  />
      </video>
      </div>
  </body>
  </html>
